name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'oracle'
        
    - name: Grant execute permission for gradlew
      working-directory: ./app
      run: chmod +x gradlew
    
    - name: Build with Gradle
      working-directory: ./app
      run: ./gradlew build --no-daemon

    - name: Run tests with coverage
      working-directory: ./app
      run: ./gradlew clean test jacocoTestReport --no-daemon
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./app/build/reports/jacoco/test/jacocoTestReport.xml
        directory: ./app/build/reports/jacoco/
        flags: unittests
        name: java-project-72
        fail_ci_if_error: true